@font-face {
    font-family: "Barlow";
    src: url(./assets/fonts/Montserrat-Medium.ttf) format('truetype');
}

*,
*::before,
*::after{
    box-sizing: border-box;
}
body{
    font-family: "Open Sans";
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.wrap-header {
    display: flex;
    padding: 1.5rem;
    width: 100%;
    max-width: 1248px;
    margin: 0 auto;
    justify-content: space-between;
}
.wrap-header .col1,
.wrap-header .col2{
    display: flex;
    align-items: center;
}
div.wrap-logo img{
    max-width: 30px;
}
p.logo-text{
    font-family: "Barlow";
    margin-left: .4rem;
}
.dark p.logo-text{
    color: #FFFFFF;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    padding: 1rem;
    border-top: 1px solid #CBD5E1;
}
.dark main{
    border: none;
}
div.inner-dropzone{
    width: 100%;
    max-width: 500px;
}
.dark div.dropzone{
    background-color: #e3faff;
}
div.dropzone{
    position: relative;
    z-index: 2;
    padding: 10rem 1rem;
    background-color: #E4F3F6;
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
}
div.dropzone.active{
    animation: 2.5s ease 0s infinite pulse;
}
@keyframes pulse {
    0%, 50%, 100% {  background: #fff; }
    30%, 80% { background: #d6ecee; }
}
div.dropzone-inner{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img.uploader-icon{
    max-width: 70px;
}
p.sub-title{
    font-weight: 600;
}
div.field-compress{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.dark div.field-compress{
    color: #FFFFFF;
}
input.fld-compress{
    margin: 0 .5rem 0 0;
}
progress{
    margin-bottom: .5rem;
}
div.progress-file{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.dark div.progress-file{
    color: #FFFFFF;
}
div.spinnerFiles{
    position: absolute;
    z-index: 99;
    background-color: #FFFFFF;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.spinnerFiles img{
    max-width: max-content;
}
p.alert-list{
    text-align: left;
}
ul.alert-list{
    text-align: left;
}
footer{
    display: flex;
    padding: 1.5rem;
    width: 100%;
    max-width: 1248px;
    margin: 0 auto;
    justify-content: space-between;
}
.dark footer{
    color: #FFFFFF;
}
.ftautor{
    display: flex;
    align-items: center;
}
.ftautor img{
    max-width: 30px;
    margin-left: .4rem;
}

.range-wrap {
    display: none;
    position: relative;
    margin: 0 auto 3rem;
}
.range-wrap.active{
    display: block;
}
.range {
    width: 100%;
}
.bubble {
    background: red;
    color: white;
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
}
.bubble::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 2px;
    background: red;
    top: -1px;
    left: 50%;
}
.toggle {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 60px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s;
}
.checkbox {
    display: none;
}
.icon {
    width: 50%;
    font-size: 32px;
    line-height: 60px;
    text-align: center;
    z-index: 1;
}
.ball {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 7px;
    z-index: 1;
    transition: 0.2s;
}
/* ---- ---- Light Mode ---- ---- */
.light {
    background-color: #fafafa;
  }
  .light .toggle {
    background: linear-gradient(145deg, #e1e1e1, #fff);
    box-shadow: 3px 3px 4px #e6e6e6, -3px -3px 4px #fff;
  }
  .light .icon--light {
    color: #fafafa;
  }
  .light .icon--dark {
    color: #151d2a;
  }
  .light .ball {
    background-color: #151d2a;
  }
  /* ---- ---- Dark Mode ---- ---- */
  .dark {
    background-color: #151d2a;
  }
  .dark .toggle {
    background: #151d2a;
    box-shadow: 3px 3px 3px #0e131b, -3px -3px 3px #1c2739;
  }
  .dark .icon--light {
    color: #fafafa;
  }
  .dark .icon--dark {
    color: #0e131b;
  }
  .icon-theme{
    position: relative;
    z-index: 2;
    width: 50%;
    text-align: center;
    font-size: 25px;
  }
  .dark .ball {
    background-color: #fafafa;
    transition: 0.3s;
    transform: translateX(60px);
  }